.profile-img{
    width: 100px;
    color: rgb(247, 247, 247);  
}

.userName{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
} 

.profile-btn{
    margin-top: 20px;
    color: rgb(255, 0, 0)!important;    
}